* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: IBM Plex Mono;
}

.container{
    display: grid;
    grid-template-areas: 
      "header" "header" "header"
      "main" "main" "main"
      "footer" "footer" "footer"
    ;
}

/* header */

header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:10px 50px;
    width:100%;
    height: 110px;
    background-color: white;
    grid-area:header;
}

nav {
    width: 50%;
    /* background-color:red; */
}

/* Class */

.menu-bar{
    display:flex;
    align-items:center;
    /* background-color:blue; */
}

.menu-bar li {
    margin: 0 15px;
    /* background-color: red; */
}

.menu-bar li a {
    display:block;
    padding: 10px;
    color:#020F59;
    font-weight: 700;
}

.icon {
    height:20px;
}

.button-1{
    width: 100px;   
    height:50px;
    margin-left: 40px;
    font-size: 18px;   
    color:white;
    border-radius:5px;
    border:none;
    background-color:#0424D9;
    cursor:pointer;
    text-align: center;
    padding-top: 12px;
}

/* ID  */

#logo {
    height:100px;
    cursor: pointer;
}

/* Main */

.main {
    /* background-color: green; */
    grid-area:main;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    grid-area:footer;
    height:210px;
    padding:10px 50px;
    background-color:#020F59;
    color:white;
    margin-top: 100px;
}

.descricao {
    height:120px;
    margin-top: 30px;
}

.descricao p {
    margin:20px 0;
}

.redes-sociais ul {
    display: flex;
    margin-top: 70px;
}

.redes-sociais li {
    margin:0 15px;
}

.icon-2{
    height: 50px;
}

.copyright {
    margin-top: 160px;
}

/* Main */

.titulo-carrinho {
    width: 100%;
    height: 100px;
    background-color: #0424D9;
    text-align: center;
}

.titulo-carrinho h2 {
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 5px;
    padding-top: 35px;
}

/* Conteudo do LocalStorage */

.card-dinamico {
    width: 100%;
    display: flex;
    justify-content:center;
    margin-top: 50px;
}

thead {
    text-align: center;
}

thead tr {
    text-transform: uppercase;
    font-weight:700;
}


tbody td {
    background-color:#afb5d3;
}


.table thead td {
    background-color:#0424D9;
    color:white;
    padding:15px;
}

.table {
    text-align: center;
}

.btn-excluir {
    cursor: pointer;
    background-color:transparent;
    border:none;
    padding: 10px;    
    width: 100%;
    transition:0.3s;
    text-transform: uppercase;
}

.btn-pagamento {
    cursor: pointer;
    background-color:transparent;
    border:none;
    padding: 10px;    
    width: 100%;
    transition:0.3s;
    text-transform: uppercase;
}

/* Hover */

.btn-excluir:hover{
    background-color:#d90404;
    transition: 0.3s;
    color:white;
}

.btn-pagamento:hover{
    background-color:#04d944;
    transition: 0.3s;
    color:white;
}

