.background {
    background-image:url("../IMG/Imagens/a.png");
    height: 100vh;
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
}

.background div {
    width: 60%;
    height:250px;
    /* background-color: rgb(248, 0, 0); */
    margin:0 auto;
    transform: translateY(100%);
    text-align: center;
}

.background p {
    color:white;
    font-size: 32px;
}

.button-3{
    border:1px solid white;
    font-size: 24px;
    color:white;
    border-radius:5px;
    padding:10px;
    display: inline-block;
    cursor: pointer;
    margin-top: 70px;
}

.button-2 {
    border:1px solid white;
    font-size: 18px;
    color:white;
    border-radius:5px;
    padding:10px;
    display: inline-block;
    cursor: pointer;
}

.produtos {
    display:flex;
    justify-content:space-around;
    align-items: center;
    width:100%;
    height:600px;
    /* background-color: red; */
}

.card{
    width: 25%;
    box-shadow: 1px 1px 10px #9dabfb;
    height:500px;
    text-align:center;
}

.card-img {
    margin-top: 50px;
}

.desc {
    /* background-color: blue; */
    margin-top:60px;
    height: 200px;
}

.desc p {
    color: #707070;
    font-size: 18px;
    line-height: 1.5;
    /* background-color:yellow; */
    margin: 0px 20px;
}

.desc a {
    margin-top:40px;
    padding: 10px 20px;
    border:1px solid white;
    background-color:#0424D9;
    text-transform: uppercase;
}

h2::after{
    content: '';
    width:120px;
    height: 2px;
    background-color:#797979;
    display: block;
    margin: 10px auto;
}

h2 {
    color: #020F59;
    letter-spacing: 5px;
    font-weight: normal;
}

.title {
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    text-transform: uppercase;
    margin:50px 0px 20px 0px;
    /* background-color:red; */
}

video {
    width: 100%;
    height: 600px;
    background-color:blue;
}

iframe {
    width: 80%;
    height:550px;
    margin-bottom:50px;
}

.video{
    text-align: center;
}

.container-depoimento {
    position:relative;
}

.depoimento {
    width:100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}

.card-2 {
    width:20%;
    height:400px;
    /* background-color: green; */
    text-align: center;
}

.person {
    width:200px;
    height:200px;
    margin-top:25px;
    border-radius: 50%;
    display: inline-block;
}

#p-1{
    background-image:url("/IMG/Imagens/girl-984060_640.jpg");
    background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
}

#p-2{
    background-image:url("/IMG/Imagens/beard-1845166_640.jpg");
    background-position: center;
	background-size: cover;
    /* background-repeat: no-repeat; */
}

#p-3{
    background-image:url("/IMG/Imagens/beautiful-1274056_640.jpg");
    background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
}

.desc-person {
    margin-top: 20px;
    padding:20px;
    /* background-color:yellow; */
}

.desc-person h3 {
    margin-bottom:20px;
    text-transform: uppercase;
    color:white;
}

.desc-person p {
    color:white;
    line-height:1.5;
}

#background-person {
    width:100%;
    height:300px;
    background-color:#4A40FF;
    transform:translateY(-100%);
}