* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: IBM Plex Mono;
}

body{
    height: 100%;
}

.container{
    display: grid;
    grid-template-areas: 
      "header" "header" "header"
      "main" "main" "main"
      "footer" "footer" "footer"
    ;
}

body {
    /* background-color:gray; */
}

/* header */

header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:10px 50px;
    width:100%;
    height: 110px;
    background-color: white;
    grid-area:header;
}

nav {
    width: 50%;
    /* background-color:red; */
}

/* Class */

.menu-bar{
    display:flex;
    align-items:center;
    /* background-color:blue; */
}

.menu-bar li {
    margin: 0 15px;
    /* background-color: red; */
}

.menu-bar li a {
    display:block;
    padding: 10px;
    color:#020F59;
    font-weight: 700;
}

.icon {
    height:20px;
}

.button-1{
    width: 100px;   
    height:50px;
    margin-left: 40px;
    font-size: 18px;   
    color:white;
    border-radius:5px;
    border:none;
    background-color:#0424D9;
    cursor:pointer;
    text-align: center;
    padding-top: 12px;
}

/* ID  */

#logo {
    height:100px;
    cursor: pointer;
}

/* Main */
.main {
    width: 100%;
}

.titulo-produtos {
    width: 100%;
    height: 100px;
    background-color: #0424D9;
    text-align: center;
}

.titulo-produtos h2 {
    color:white;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 5px;
    padding-top:35px;
}

.row {
    display:flex;
    justify-content: space-around;
    margin: 55px 0;
    /* background-color: black; */
}

.card {
    width: 250px;
    height:400px;
    box-shadow:1px 1px 10px rgb(173, 173, 173);
    cursor: pointer;
    transition:0.5s all;
}

.desc-card {
    width:100%;
    padding:10px;
    text-align: center;
    margin-bottom: 20px;
}

.desc-card h3 {
    margin-bottom: 10px;
    transition:0.5s all;
}

.desc-card p {
    color:gray;
    transition:0.5s ease-in-out;
}

.end-card {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:50px;
    background-color:blue;
    margin-top:36px;    
    transition:0.5s all;
}

.button-compra{
    background-color: white;
    width:40px;
    height:40px;
    border-radius: 50%;
    margin:0 20px;
    border:none;
    text-align:center;
    transition:0.5s all;
}

.button-compra a {
    display: block;
    font-size: 32px;
    color:rgb(85, 84, 84);
    /* background-color: red; */
}

.img {
    margin:20px auto;
    width:140px;
    height: 140px;
}

#img-1 {
    background-image: url("../IMG/Icones/Produtos/streamline-icon-app-building-2@140x140.png");
}
#img-2 {
    background-image: url("../IMG/Icones/Produtos/streamline-icon-app-coding@140x140.png");
}
#img-3 {
    background-image: url("../IMG/Icones/Produtos/streamline-icon-app-network-launch@140x140.png");
}
#img-4 {
    background-image: url("../IMG/Icones/Produtos/streamline-icon-app-performance-1@140x140.png");
}
#img-5 {
    background-image: url("../IMG/Icones/Produtos/streamline-icon-app-testing@140x140.png");
}
#img-6 {
    background-image: url("../IMG/Icones/Produtos/streamline-icon-app-working-2@140x140.png");
}
#img-7 {
    background-image: url("../IMG/Icones/Produtos/streamline-icon-statistic-research@140x140.png");
}
#img-8 {
    background-image: url("../IMG/Icones/Produtos/streamline-icon-view-count-magnify@140x140.png");
}
#img-9 {
    background-image: url("../IMG/Icones/Produtos/streamline-icon-wifi-direct-1@140x140.png");
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    grid-area:footer;
    height:210px;
    padding:10px 50px;
    background-color:#020F59;
    color:white;
}

.descricao {
    height:120px;
    margin-top: 30px;
}

.descricao p {
    margin:20px 0;
}

.redes-sociais ul {
    display: flex;
    margin-top: 70px;
}

.redes-sociais li {
    margin:0 15px;
}

.icon-2{
    height: 50px;
}

.copyright {
    margin-top: 160px;
}

/* HOVER */

.card:hover{
    transition:0.5s ease-in-out;
    background-color:rgb(231, 231, 231);
}

